/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.block-wrapper {
  width: 100%;
  display: -ms-flexbox;
  display:flex;
  margin: 150px auto 0;
  position: relative;
  overflow: hidden;
}
.left-block,
.right-block {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}
.middle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 960px;
  flex: 0 1 960px;
}
.left-block {
  width: 52%;
}
.left-block .image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.left-block .image-wrapper img {
  height: 100%;
}
.left-block .image-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 98, 255, 0.7);
}
.side-block-shape {
  background-color: #ededed;
  position: relative;
  z-index: 1;
  -ms-flex: 1 0 7%;
  flex: 1 0 7%;
  display: flex;
  margin-left: -0.5%;
}
.side-block-shape.left {
  margin-right: 14px;
}
.divider {
  position: absolute;
  right: 43%;
  width: 7.3%;
  top: 3%;
  height: 79%;
  background-color: #ededed;
  transform: skew(-8deg, -11deg);
  transform-origin: right;
}
.divider.white {
  right: 50%;
  background-color: #fff;
  width: 11px;
  z-index: 11;
  height: 79%;
  transform: skewX(-8deg);
  top: 10%;
}
.side-block-shape .bot-bg {
  top: -71%;
  height: 100%;
  background-color: #3062ff;
  transform-origin: bottom right;
  transform: skewY(-8deg);
}
.top-block-shape {
  position: absolute;
  top: -196px;
  height: 276px;
  background-color: #fff;
  transform: skewY(8deg);
  z-index: 2;
  max-width: 750px;
  width: 100%;
}
.top-block-shape.left {
  right: 49%;
  transform: skewY(8deg);
  transform-origin: top right;
}
.bot-bg {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}
.bot-bg.right {
  left: 48%;
  bottom: -231px;
  height: 215px;
  transform: skewY(8deg);
  transform-origin: bottom right;
  max-width: 750px;
}
.right-block {
  background-color: #ededed;
  display: flex;
  width: 47%;
  margin-left: 1%;
  padding: 10% 0 18%;
}
.top-block-shape.right {
  transform-origin: top left;
  transform: skewY(-8deg);
  left: 50.9%;
}
.bot-bg.left {
  transform-origin: bottom left;
  transform: skewY(-8deg);
  bottom: -55%;
  height: 52%;
  right: 51.5%;
  max-width: 750px;
}
.bot-bg.blue {
  background-color: #3062ff;
  transform: skewY(-8deg);
  height: 100%;
  bottom: -82%;
  right: 0;
  width: 51.9%;
  transform-origin: bottom left;
}
.right-block .text-wrapper {
  max-width: 364px;
  margin-left: 13%;
  z-index: 1;
}
.right-block .text-wrapper h1 {
  font: bold 1.55em Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #3161ff;
}
.right-block .text-wrapper p {
  font: 0.75em Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.7em;
}
.right-block .text-wrapper a {
  font: 0.7em Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  background-color: #3062ff;
  color: #fff;
  width: 180px;
  margin-top: 15px;
  padding: 10px 8px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}
.right-block .text-wrapper a:after {
  content: "→";
  border: 1px solid #fff;
  color: #fff;
  display: block;
  position: absolute;
  right: 10px;
  top: 7px;
  height: 18px;
  width: 18px;
  text-align: center;
  box-sizing: border-box;
  font-size: 12px;
}


@media only screen and (max-width: 1024px) {
  .right-block {
    padding: 12% 0 20%;
  }
  .side-block-shape {
    display: none;
  }
  .middle {
    -ms-flex: 1 1;
    flex: 1 1;
    width: 100%;
  }
  .left-block .divider {
    right: -2.6%;
  }
  .right-block .divider {
    left: -4%;
    width: 4%;
  }
  .right-block .text-wrapper {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }
  .bot-bg.right {
    left: 46%;
  }
  .bot-bg.blue {
    width: 54%;
  }
}
@media only screen and (max-width: 600px) {
  .middle {
    flex-direction: column;
  }
  .left-block,
  .right-block {
    width: 100%;
    margin: 0 auto;
  }
  .left-block {
    order: 2;
  }
  .right-block {
    padding: 17.5% 0;
  }
  .right-block .text-wrapper {
    max-width: 320px;
  }
  .right-block .text-wrapper h1 {
    font: bold 1.3em Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .top-block-shape.right {
    left: 0;
    top: -216px;
  }
  .side-block-shape,
  .top-block-shape.left,
  .bot-bg.blue,
  .bot-bg.right {
    display: none;
  }
  .bot-bg.left {
    bottom: -52%;
    right: 0;
  }
  .left-block .image-wrapper:before {
    background: linear-gradient(#3062ff 16%, rgba(48, 98, 255, 0.5));
  }
  .divider {
    transform: rotate(85deg);
    z-index: 1;
    right: 54%;
    width: 80px;
    height: 100%;
    top: 70px;
    background-color: #3062ff;
  }
  .divider.white {
    transform: rotate(-85deg);
    width: 4%;
    top: 88px;
  }
}

